body {
    background: #272738;
    color: #FFFFFF;
    margin: 0;
}

/* Fit the canvas to the page width. */
canvas {
    display: block;
}

h1 { 
    text-align: center;
}

.modal {
    display: none;
    z-index: 1;
    margin: auto;
    width: 60%;
    height: 40%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
}

.modalContent {
    background-color: #fefefe;
    color: #000000;
    margin: 10% auto;
    padding: 10px;
    width: 90%;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 14px;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#openModal {
    text-align: center;
}